.header__nav-item:hover{
    color: var(--primary-color);
}

.header__nav-contact-btn:hover{
    background-color: var(--third-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.learn__btn:hover,.hero__left-btn:hover{
    background-color: var(--third-color);
    border:1px solid var(--primary-color);
    color: var(--primary-color);
}